h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 2rem 0 1rem 0;
    font-weight: normal;
    color: rgb(201, 85, 104);
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: white;
}

.fallback {
    text-align: center;
    color: white;
}